#tagline {
    color: rgb(202, 17, 168)
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-show {
    height: 100px;
}

#footer {
    height: 200px;
}

#showName {
    font-size: 25px;
    font-weight: bold;
}

#showNameCategory {
    font-weight: bold;
}

#genres {
    font-weight: bold;
}

#premiered {
    font-weight: bold;
}

#status {
    font-weight: bold;
}

#rating {
    font-weight: bold;
}

#summary {
    font-weight: bold;
}
